
<!DOCTYPE html>
<html>
<head>
	
	<title>Quick Start - Leaflet</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="/static/jquery-3.5.1.min.js"></script>


	
</head>
<body>
<h1>{{ title }}</h1>


<div id="mapid" style="width: 600px; height: 400px;"></div>
<div id="status_text"></div>
<script>
    $(document).ready(function () {
        var mymap = L.map('mapid').setView([0.0, 0.0], 16);

        var geojsonMarkerOptions = {
            radius: 8,
            fillColor: "#FF0000",// "#28ea3f",//"#0163FF",
            color: "#FF0000", //"#0163FF",
            weight: 24,
            opacity: 0.25,
            fillOpacity: 1,
            // className: 'marker-cluster'

          };

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(mymap);

        var myRenderer = L.canvas({ padding: 0.5 });
        var lat = 0.0;
        var lng = 0.0;
        var circleMarker = L.circleMarker([lat, lng], geojsonMarkerOptions).addTo(mymap)
            .bindPopup("???").openPopup();

        (function worker() {
          $.ajax({
            url: '/car_status',
            dataType: 'json',
          })
          .done(function(data) {
                car_status = data
              circleMarker.setLatLng(new L.LatLng(car_status.latitude, car_status.longitude));
                statusText = `
                <b>Time:</b> ${new Date().toLocaleString()}<br/>
                <b>Odo:</b> ${car_status.odometer}km<br/>
                <b>SOC:</b> ${car_status.battery_level}%<br/>`;
              circleMarker._popup.setContent(statusText)
              $("#status_text").html(statusText);
            })
          .fail(function() {
              statusText = "No data";
                circleMarker._popup.setContent(statusText);
                $("#status_text").html(statusText);
            })
          .always(function() {
              // Schedule the next request when the current one's complete
              setTimeout(worker, 5000);
            });
        })();
    });
</script>



</body>
</html>
